.container_topo{
    width: 100%;
    padding: 0 20px;
    background-color: #F9DB79;
    
}

.secao_limitada{
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-around;
}

.imagem_logo{
    width: 100px;
    height: 100px;
}

.menu_topo{
    display: flex;
    padding: 20px 0;
    gap: 20px;
}

.menu_topo a{
    text-decoration: none;
    color: #000000
}

@media (max-width: 768px){
    .menu_topo{
        gap: 200px;
        align-items: center;
    }

    .secao_limitada {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .borda{
        border: 0.1px solid #00000069;
        width: 100%;
    }
}

@media (max-width: 425px){
    .menu_topo{
        gap: 75px;
    }
}

@media (max-width: 375px){
    .menu_topo{
        gap: 75px;
    }
}

@media (max-width: 320px){
    .menu_topo{
        gap: 50px;
    }
}